.logo-web {
  color: #2196f3;
  font-family: Raleway;
  font-style: normal;
  font-weight: bold;
}

.logo-studio {
  color: black;
  font-family: Raleway;
  font-style: normal;
  font-weight: bold;
}

.navigation-list-item {
  font-family: Roboto;
  font-size: 14px;
  font-style: normal;
  font-weight: 500;
  line-height: 16px;
  letter-spacing: 0.02em;
  text-align: left;
}

.navigation-list-link {
  font-family: Roboto;
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  line-height: 26px;
  letter-spacing: 0.03em;
  text-align: center;
}
