.logo-web {
  color: #2196f3;
  font-family: "Raleway", sans-serif;
  font-style: normal;
  font-weight: bold;
}

.logo-studio {
  color: black;
  font-family: "Raleway", sans-serif;
  font-style: normal;
  font-weight: bold;
}

.navigation-list-item {
  color: #2196f3;
  font-family: "Roboto", sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 1.142;
}

.navigation-list-link {
  color: black;
  font-family: "Roboto", sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.625;
}
