.logo-web {
  color: #2196f3;
  font-family: "Raleway", sans-serif;
  font-style: normal;
  font-weight: bold;
}

.logo-studio {
  color: black;
  font-family: "Raleway", sans-serif;
  font-style: normal;
  font-weight: bold;
}

.navigation-list {
  font-family: "Roboto", sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 1.142;
  color: black;
}

.navigation-list:hover,
.navigation-list:focus {
  color: #2196f3;
}

.navigation-list-portfolio {
  font-family: "Roboto", sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.625;
  color: #212121;
}
.navigation-list-portfolio:hover,
.navigation-list-portfolio:focus {
  background-color: #2196f3;
  color: white;
}

.address-tel:hover,
.address-tel:focus {
  color: #2196f3;
}

.address-mail:hover,
.address-mail:focus {
  color: #2196f3;
}

.address-tel {
  font-family: "Roboto", sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 1.142;
  color: #757575;
}

.address-mail {
  font-family: "Roboto", sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 1.142;
  color: #757575;
}

.address-map-footer {
  font-family: "Roboto", sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 1.714;
  letter-spacing: 0.03em;
  color: black;
}

.address-tel-footer {
  font-family: "Roboto", sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 1.714;
  letter-spacing: 0.03em;
  color: black;
}

.address-mail-footer {
  font-family: "Roboto", sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 1.714;
  letter-spacing: 0.03em;
  color: black;
}
